%h1 Listing comments

%table
  %tr
    %th Poster
    %th Description
    %th Blog
    %th
    %th
    %th

  - @comments.each do |comment|
    %tr
      %td= comment.poster
      %td= comment.description
      %td= comment.blog
      %td= link_to 'Show', comment
      %td= link_to 'Edit', edit_blog_comment_path(comment)
      %td= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Comment', new_blog_comment_path
