%h1 Listing About Boxes For Each Page

= link_to 'New About heading', new_about_heading_path

.page
	%h1
		Page
.preview
	%h1
		Preview
- @about_headings.each do |about_heading|
	.page
		%h2
			= about_heading.page
		= link_to 'Show', about_heading
		= link_to 'Edit', edit_about_heading_path(about_heading)
		= link_to 'Destroy', about_heading, :confirm => 'Are you sure?', :method => :delete
	.preview
		- @about = about_heading
		= render :partial => 'layouts/partials/aboutbox'