.companies
	%h1
		Listing Companies -
		%span.business
			Business
		%span.homeauto{:style => "display: none;"}
			Home & Auto
	.admin-links
		.toggle-showing
			%a.business{:href => '#'}
				Show:  Home & Auto
			%a.homeauto{:style => "display: none;", :href => '#'}
				Show:  Business
		.new
			= link_to 'New Company', new_company_path		
	- @companies.each do |company|
		.company-admin{:class => "small company-admin-" + company.id.to_s}
			%h2
				= company.name
			.company-actions
				.company-view
					.admintoggle{:id => company.id.to_s}
						Show Details
				.company-edit
					= link_to 'Edit', edit_company_path(company)
				.company-delete
					= link_to 'Delete', company, :confirm => "Are you sure?", :method => :delete
			.company-info{:class => "company-id-" + company.id.to_s, :style => "display: none;"}
				.biz
					%h3
						Business:
					%h4
						Links:
					.claim
						%span
							Report Claim: 
						= company.claim_url
					.billing
					.left
						%h4
							Show on page:
						.claim
							%span
								Report Claim: 
							= company.bus_claim
					.right
						%h4
							Phone Numbers:
						.claim
							%span
								Claim #1:
								= company.claim_number_one
							%span
								Claim #2:   
								= company.claim_number_two
						.billing
				.ha
					%h3
						Home & Auto:
					%h4
						Links:
					.claim
						%span
							Report Claim: 
						= company.homeauto_claim_url
					.billing
						%span
							Billing Info:
						= company.homeauto_billing_url
					.left
						%h4
							Show on page:
						.claim
							%span
								Report Claim: 
							= company.homeauto_claim
						.billing
							%span
								Billing Info:
							= company.homeauto_billing
					.right
						%h4
							Phone Numbers:
						.claim
							%span
								Claim #1:   
								= company.homeauto_claim_number_one
							%span
								Claim #2:   
								= company.homeauto_claim_number_two
						.billing
							%span
								Billing #1:   
								= company.homeauto_billing_number_one
							%span
								Billing #2:   
								= company.homeauto_billing_number_two
		.company-box
			.company-bg
				.company-logo
					= image_tag company.logo.url(:medium)
				.company-right
					.company-name
						= company.name
					.company-info
						.company-billing.business
							.phone-one
								314.725.1414
						.company-billing.homeauto{:style => "display: none;"}
							.phone-one
								= company.homeauto_billing_number_one
							.phone-two
								= company.homeauto_billing_number_two
						.company-claim.business
							.phone-one
								= company.claim_number_one
							.phone-two
								= company.claim_number_two
						.company-claim.homeauto{:style => "display: none;"}
							.phone-one
								= company.homeauto_claim_number_one
							.phone-two
								= company.homeauto_claim_number_two
= javascript_include_tag 'admintoggle'
