.nav
	%a.logo{:alt => "Click here to navigate to the POWERS home page", :href => "/"}
	.nav-right
		.nav-top
			%a.live-chat{:href => "javascript:void(0);", :onclick => "habla_window.expand()", :alt => "Click to talk to one of our Agents!"}
				
			%a.contact{:href => "/contact", :alt => "Click here to navigate to our contact page"}
			.toll-free
				%img.phone{:src => "/images/phone.png", :alt => "Call Toll Free"}
				%h4
					CALL TOLL FREE:
				%span
					866.948.5100			
					
		.nav-bottom
			.nav-tabs
				- $tabs.each do |tab,url|
					
					- cl = tab
					- cl += (@current_page==tab ? " current" : "")
					- cl += ($tabs.first==[tab,url] ? " first" : "")
					- cl += ($tabs.last==[tab,url] ? " last" : "")
					%a.tab{:class => "#{cl}", :id => "#{tab}", :alt => "Click here navigate to " + "#{tab.capitalize}", :href => "#{url}"}
						%span{:class => "#{tab}"} #{tab.capitalize}