= form_for @associate do |f|
	-if @associate.errors.any?
		#error_explanation
			%h2= "#{pluralize(@associate.errors.count, "error")} prohibited this associate from being saved:"
			%ul
				- @associate.errors.full_messages.each do |msg|
					%li= msg

	.field
		= f.label :division
		%select{:name => "associate[division]"}
			- if @associate.division == "Producers"
				%option{:value => 'Producers', :selected => 'selected'}Producers
			- else
				%option{:value => 'Producers'}Producers
				
			- if @associate.division == "Administrative"
				%option{:value => 'Administrative', :selected => 'selected'}Administrative
			- else
				%option{:value => 'Administrative'}Administrative
			
			- if @associate.division == "Benefits"
				%option{:value => 'Benefits', :selected => 'selected'}Benefits
			- else
				%option{:value => 'Benefits'}Benefits
				
			- if @associate.division == "Commercial Lines"
				%option{:value => 'Commercial Lines', :selected => 'selected'}Commercial Lines
			- else
				%option{:value => 'Commercial Lines'}Commercial Lines
				
			- if @associate.division == "Personal Lines"
				%option{:value => 'Personal Lines', :selected => 'selected'}Personal Lines
			- else
				%option{:value => 'Personal Lines'}Personal Lines
	.field
		= f.label :avatar, 'Avatar:'
		= f.file_field :avatar
	.field
		= f.label :name
		= f.text_field :name
	.field
		= f.label :email
		= f.text_field :email
	.field
		= f.label :title
		= f.text_field :title
	.field
		= f.label :certifications
		= f.text_field :certifications
	.field
		= f.label :position, 'Position in List:'
		= f.text_field :position
	.actions
		= f.submit 'Save'
