.assoc-head-top
%h1
	Our Associates
.assoc-head-middle
%p
	We look forward to hearing from you!  Please click on an name below to contact an associate.  Due to the necessity of spam filtering, please ask for a read-receipt.
.assoc-head-bottom
.producers.assoc
	.assoc-top
		%h2
			Producers
	.assoc-middle		
		- @producers.each do |associate|
			.associate
				.avatar
					= image_tag associate.avatar.url(:medium) if associate.avatar?
				.info
					.name
						%p= associate.name
					.title
						%p= associate.title
					.cert
						%p= associate.certifications
				.email
					= mail_to associate.email, ""
				.admin
					.edit
						= link_to 'Edit', edit_associate_path(associate)
					.destroy
						= link_to 'Destroy', associate, :confirm => 'Are you sure?', :method => :delete
	.assoc-bottom
.administrative.assoc
	.assoc-top
		%h2
			Administrative
	.assoc-middle		
		- @administrators.each do |associate|
			.associate
				.avatar
					= image_tag associate.avatar.url(:medium) if associate.avatar?
				.info
					.name
						%p= associate.name
					.title
						%p= associate.title
					.cert
						%p= associate.certifications
				.email
					= mail_to associate.email, ""
				.admin
					.edit
						= link_to 'Edit', edit_associate_path(associate)
					.destroy
						= link_to 'Destroy', associate, :confirm => 'Are you sure?', :method => :delete
	.assoc-bottom
.commercial.assoc
	.assoc-top
		%h2
			Commercial Lines
	.assoc-middle
		- @commercial.each do |associate|
			.associate
				.avatar
					= image_tag associate.avatar.url(:medium) if associate.avatar?
				.info
					.name
						%p= associate.name
					.title
						%p= associate.title
					.cert
						%p= associate.certifications
				.email
					= mail_to associate.email, ""
				.admin
					.edit
						= link_to 'Edit', edit_associate_path(associate)
					.destroy
						= link_to 'Destroy', associate, :confirm => 'Are you sure?', :method => :delete
	.assoc-bottom
.personal.assoc
	.assoc-top
		%h2
			Personal Lines
	.assoc-middle		
		- @personal.each do |associate|
			.associate
				.avatar
					= image_tag associate.avatar.url(:medium) if associate.avatar?
				.info
					.name
						%p= associate.name
					.title
						%p= associate.title
					.cert
						%p= associate.certifications
				.email
					= mail_to associate.email, ""
				.admin
					.edit
						= link_to 'Edit', edit_associate_path(associate)
					.destroy
						= link_to 'Destroy', associate, :confirm => 'Are you sure?', :method => :delete
	.assoc-bottom
.benefits.assoc
	.assoc-top
		%h2
			Benefits
	.assoc-middle		
		- @benefits.each do |associate|
			.associate
				.avatar
					= image_tag associate.avatar.url(:medium) if associate.avatar?
				.info
					.name
						%p= associate.name
					.title
						%p= associate.title
					.cert
						%p= associate.certifications
				.email
					= mail_to associate.email, ""
				.admin
					.edit
						= link_to 'Edit', edit_associate_path(associate)
					.destroy
						= link_to 'Destroy', associate, :confirm => 'Are you sure?', :method => :delete
	.assoc-bottom
.clearall
