- if !@about.nil? 
	.about-box
		.about-box-top
		.about-box-content
			%h1
				!= @about.heading
			%h2
				!= @about.subheading
			!= @about.description
		.viewcomments
			%span.showcomments
				Show 
			%span.hidecomments
				Hide 
			Comments
		.about-box-separator
			%img{:src=>"/images/about-box-separator.png"}
		.comments
			- if params[:controller] != 'about_headings'
				#fb-root
				%script{:src=>"http://connect.facebook.net/en_US/all.js#appId=187326117947432&amp;xfbml=1"}
				%fb:comments{:xid=>"#{@current_page}-#{@current_action}", :numposts=>"5", :width=>"534", :publish_feed=>"true"}
		.about-box-bottom
			- if params[:controller] != 'about_headings'
				.like
					%iframe.likeish{:src => "http://www.facebook.com/plugins/like.php?href=#{request.url}&amp;layout=standard&amp;show_faces=true&amp;width=548&amp;action=like&amp;colorscheme=light&amp;height=35"}
		
		= javascript_include_tag 'columnizer/autocolumn'
		= javascript_include_tag 'about-two-column'
		- if params[:controller] != 'about_headings'
			= javascript_include_tag 'fb-event'
			= javascript_include_tag 'fb-comments'