- if !(@floatheader.nil? || @floater.nil?)
	.floater
		%h4
			= @floatheader
		.currentpage{:class => "#{@current_page}"}
			- @floater.each do |tab,url|
				- cl = tab
				- cl += (@current_action==tab ? " current" : "")
				- cl += (@floater.first==[tab,url] ? " first" : "")
				- cl += (@floater.last==[tab,url] ? " last" : "")
				- if @current_page == "benefits" && tab == "login"
					%a.tab{:class => "#{cl}", :id => "#{tab}", :href => "#{url}", :target => "_blank"}
						%span{:class => "#{tab}"} #{tab.split(" ").each{|word| word.capitalize!}.join(" ")}
				- else
					%a.tab{:class => "#{cl}", :id => "#{tab}", :href => "#{url}"}
						%span{:class => "#{tab}"} #{tab.split(" ").each{|word| word.capitalize!}.join(" ")}
			- if @current_page == 'homeauto'
				%a.tab{:class => "instantquote", :target => "_blank", :href => "http://Powersgroup.ConsumerRateQuotes.com/consumer/default.aspx"}
					%span
						Instant Quote
			%a.tab{:class => "livechat", :onclick => "habla_window.expand()", :href => "javascript:void(0);"}
				%span
					Live! Chat
	= javascript_include_tag 'floatbox'
- elsif @floatheader == "About Us" && !@testimonials.nil?
	.floater.testi
		.testimonials
			- first = @testimonials.shift
			.testimonial{:class => "t-#{first.id}"}
				.quoteimg
				.quote
					%span
						!= first.quote
				.info
					%span
						= first.lineone
					%span
						= first.linetwo
					%span
						= first.linethree
				.image
					= image_tag first.avatar.url(:standard)
			- @testimonials.each do |testimonial|
				.testimonial{:style => "display: none;", :class => "t-#{testimonial.id}"}
					.quoteimg
					.quote
						%span
							!= testimonial.quote
					.info
						%span
							= testimonial.lineone
						%span
							= testimonial.linetwo
						%span
							= testimonial.linethree
					.image
						= image_tag testimonial.avatar.url(:standard)
	= javascript_include_tag 'testimonials'
	= javascript_include_tag 'floatbox'