!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
	%head
		%link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
		%title!= "POWERS&reg; Insurance and Benefits"	
		= stylesheet_link_tag 'main'
		= javascript_include_tag :defaults
		= javascript_include_tag 'jquery.min'
		= include_tiny_mce_if_needed
		%script
			jQuery.noConflict();
		= javascript_include_tag 'pngfix'
		= csrf_meta_tag
		
		= yield :local_javascript
		
		= yield :head
	%body
		.main
			.header
				= render :partial => 'layouts/partials/header/main'
			%div{:class => @current_page}
				= yield